*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body{
    font-family: "Roboto";
}


/* UTILITIES */

.margin-10{
    margin: 10px 10px;
}

.padding-10{
    padding: 10px 10px;
}

.padding-20{
    padding: 20px 20px;
}

.padding-20-20-0-20{
    padding: 20px 20px 0 20px;
}

.padding-30{
    padding: 30px 30px;
}

.flex{
    display: flex;
}

.line-height{
    line-height: 30px;
}

.align-items-center{
    align-items: center;
}
.end{
    justify-content: flex-end;
}

.start{
    justify-content: flex-start;
}

.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align: left;
}

.br-radius-10 {
    border-radius: 10px;
}

.br-radius-50 {
    border-radius: 50px;
}

.color-white{
    color: white;
}
.color-blue{
    color: rgb(59, 59, 209);;
}

.color-violet{
    color: #9593E6;;
}

.color-lightorange{
    color: rgb(236, 165, 11);
}
.bg-color-lightblue{
   background-color: rgb(107, 190, 245); 
}

.bg-color-white{
    background-color: aliceblue;
}

.bg-color-violet{
    background-color:#9593E6;
}

.bg-color-lightblack{
    background-color: rgb(53, 52, 52);
}
.bg-color-blue{
    background-color: rgb(59, 59, 209);
}
.size-50{
    font-size: 50px;
}

.size-100{
    font-size: 100px;
}

/* LAYOUT CLASSES */
.content{
    
}

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-header{
   
}

.col-50{
    width: 50%;
    
}

.col-100{
    
}

/* CONTENTS SECTION */

.col-50 img{
    width: 100%;
}

.content img{
    width: 100%;
}

.width-20{
    width: 20px;
}

.pic-testimonial img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;    
}

.first-button{
    width: 45px;
    
}


/* QUEERY SECTION */

@media screen and ( max-width: 480px) {

    .content-h{
        display: flex; 
    }


    .col-header{
        width: 50%;
    }
   
    .col-100{
        width: 100%;
        display: flex;
        margin: 20px;
    }

    .col-mb-100{
        width: 100%;
    }

    .content{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 75%;   
    }

   
}