*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.flex{
    display: flex;
}


.end{
    justify-content: flex-end;
}

.start{
    justify-content: flex-start;
}

.br-radius-10 {
    border-radius: 10px;
}

.bg-color-lightblue{
   background-color: rgb(6, 136, 223); 
}

.bg-color-white{
    background-color: aliceblue;
}

.bg-color-violet{
    background-color: rgb(174, 88, 255);
}

.bg-color-lightblack{
    background-color: rgb(53, 52, 52);
}

/* LAYOUT CLASSES */
.content{
    border: 2px dashed black;
    height: 50px;
}


.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-header{
    background-color: cadetblue;
    border: 1px dashed black;
}

.col-100{
    height: 200px;
    border: 1px dashed black;
}

/* QUEERY SECTION */

@media screen and ( max-width: 480px) {

    .container {
        width: 100%;
    }

    .col-header{
        width: 50%;
    }
    
    .col-100{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}